#botaoInicial{
    color: brown;
}

.btn{
    width: 120px;
}

body{
    background-attachment: fixed;
    background-size: 100%;
}

#imagemPrincipal{
    display: flex; 
    justify-content: center;
    flex-direction: column; 
    width: 60%;
    margin-left: 20%; 
    margin-top: 5%;
    margin-bottom: 5%;
}

#conteudo-dados{
    display: flex; 
    justify-content: center;
    flex-direction: column; 
    width: 60%;
    margin-left: 20%; 
    margin-top: 5%;
}