{% extends 'base.html' %}

{% block titulo %}Cadastrar Estado Civil{% endblock %}

{% block corpo %}
<div id="conteudo-dados" >
    <div style="display: flex; justify-content: center;">
        <h1><label class='text-primary'>Cadastro de Estado Civil</label></h1>
    </div>
    <form method="post" >
        {% csrf_token %}
        <div class="mb-3">
            <label for="descricao" class="form-label text-primary">Descrição</label>
            <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Informe o Estado Civil" required />
        </div>
        <div class="mb-3">
            <input type="submit" value="Cadastrar" class="btn btn-primary" />
            <input type="reset" value="Cancelar" class="btn btn-secondary" />
        </div>        
    </form>
</div>
{% endblock %}