{% extends 'base.html' %}

{% block titulo %}Cadastrar Produto{% endblock %}

{% block corpo %}
<div id="conteudo-dados" >
    <div style="display: flex; justify-content: center;">
        <h1><label class='text-primary'>Cadastro de Produto</label></h1>
    </div>
    <form method="post" action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="txtNome" class="form-label text-primary">Nome</label>
            <input type="text" class="form-control" id="txtNome" name="nome" placeholder="Informe o nome" required />
        </div>
        <div class="mb-3">
            <label for="txtValor" class="form-label text-primary">Valor</label>
            <input type="text" class="form-control" id="txtValor" name="valor" placeholder="Informe o valor" required />
        </div>
        <div class="mb-3">
            <label for="txtCategoria" class="form-label text-primary">Categoria</label>
            <select name="categ" id="txtCategoria" class="form-select">
                {% for categoria in categoria %}
                <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input type="submit" value="Cadastrar" class="btn btn-primary" />
            <input type="reset" value="Cancelar" class="btn btn-secondary" />
        </div>        
    </form>
</div>
{% endblock %}