{% extends 'base.html' %}

{% block titulo %}Cadastrar UF{% endblock %}

{% block corpo %}
<div id="conteudo-dados" >
    <div style="display: flex; justify-content: center;">
        <h1><label class='text-primary'>Cadastro de UF</label></h1>
    </div>
    <form method="post" >
        {% csrf_token %}
        <div class="mb-3">
            <label for="sigla" class="form-label text-primary">Sigla</label>
            <input type="text" class="form-control" id="sigla" name="sigla" placeholder="Informe a sigla" required maxlength="2" minlength="2" />
        </div>
        <div class="mb-3">
            <label for="nome" class="form-label text-primary">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Informe o nome" required />
        </div>
        <div class="mb-3">
            <input type="submit" value="Cadastrar" class="btn btn-primary" />
            <input type="reset" value="Cancelar" class="btn btn-secondary" />
        </div>        
    </form>
</div>
{% endblock %}