{% extends 'base.html' %}

{% block titulo %}Excluir UF{% endblock %}

{% block corpo %}
<div id="conteudo-dados" >
    <div style="display: flex; justify-content: center;">
        <h1><label class='text-primary'>Exclusão de UF</label></h1>
    </div>
    <form method="post" action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="txtSigla" class="form-label text-primary">Sigla</label>
            <input type="text" class="form-control" id="txtSigla" name="sigla" placeholder="Informe a sigla" readonly value="{{ uf.sigla }}" />
        </div>
        <div class="mb-3">
            <label for="txtNome" class="form-label text-primary">Nome</label>
            <input type="text" class="form-control" id="txtNome" name="nome" placeholder="Informe o nome" readonly value="{{ uf.nome }}" />
        </div>
        <div class="mb-3">
            <input type="submit" value="Excluir" class="btn btn-danger" />
            <input type="reset" value="Cancelar" class="btn btn-secondary" />
        </div>        
    </form>
</div>
{% endblock %}