{% extends 'base.html' %}

{% block titulo %}Excluir Cidade{% endblock %}

{% block corpo %}
<div id="conteudo-dados" >
    <div style="display: flex; justify-content: center;">
        <h1><label class='text-primary'>Exclusão de Cidade</label></h1>
    </div>
    <form method="post" action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="txtNome" class="form-label text-primary">Nome</label>
            <input type="text" class="form-control" id="txtNome" name="nome" value="{{ cidade.nome }}" readonly />
        </div>
        <div class="mb-3">
            <label for="txtSigla" class="form-label text-primary">Estado</label>
            <input type="text" class="form-control" name="sigla" id="txtSigla" value="{{ estado.nome }}" readonly>
        </div>
        <div class="mb-3">
            <input type="submit" value="Excluir" class="btn btn-danger" />
            <input type="reset" value="Cancelar" class="btn btn-secondary" />
        </div>        
    </form>
</div>
{% endblock %}