{% extends 'base.html' %}

{% block titulo %}Lista de Tipos de Pessoa{% endblock %}

{% block corpo %}
<div id="conteudo-dados">
    <div style=" display: flex; flex-direction: row; justify-content: center;">
    <h1><label class="text-primary">Lista de Tipos de Pessoa</label> </h1>
    </div>
    <a href="cadastro-tp-pessoa"><input type="button" value="Novo" class="btn btn-primary"></a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="3"></th>
            </tr>
            <tr>
                <td>Nome</td>
                <td colspan="2" align="right">Ações</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="button" class="btn btn-warning" value="Alterar">
                </td>
                <td>
                    <input type="button" class="btn btn-danger" value="Excluir">
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" align="right"><label class="text">Total de Registros: 0</label></td>
            </tr>
        </tfoot>
      </table>
</div>
{% endblock %}