{% extends 'base.html' %}

{% block titulo %}Lista de UFs{% endblock %}

{% block corpo %}
<div id="conteudo-dados" >
    <div style="display: flex; justify-content: center;">
        <h1><label class='text-primary'>Lista de UFs</label></h1>
    </div>
    {% if user.is_authenticated %}
    {% include 'procura.html' %}
    <a href="cadastro-uf">
        <input type="button" value="Novo" class="btn btn-primary" />
    </a>
    {% endif %}
    {% if total > 0 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="4"></th>
            </tr>
            <tr>
                <td><label>Sigla</label></td>
                <td><label>Nome</label></td>
                <td colspan="2" align="right"><label>Ações</label></td>
            </tr>
        </thead>
        <tbody>
            {% for uf in uf %}
            <tr>
                <td><label>{{ uf.sigla }}</label></td>
                <td><label>{{ uf.nome }}</label></td>
                <td align="right">
                    <a href="altera-uf/{{ uf.id }}">
                        <input type="button" class="btn btn-warning" value="Alterar" /></a>
                    <a href="exclui-uf/{{ uf.id }}">
                        <input type="button" class="btn btn-danger" value="Excluir"></a>
                </td>                
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" align="right"><label>Total de Registros: {{ total }}</label></td>
            </tr>
        </tfoot>
    </table>
    {% elif pesquisa %}
    {% include 'semResultado.html' %}
    {% else %}
    {% include 'semItens.html' %}
    {% endif %}
</div>
{% endblock %}